.board {
  
  width: 350px;
  height: 370px;
  /* display: flex;
   align-items: center;
  justify-content: center; */
  margin: auto;
  margin-top: 2rem;
  /* border: 1px solid #f99019; */
  /* display:block; */
}

.board table {
  width: 350px;
  height: 305px;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  /* border: 2px solid #f99019; */
}

.board td {
  width: 50px;
  height: 50px;
  border: 1px solid;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  box-sizing: border-box;
}
.board .invisible-cell {
  /* background-color:#272727 ; */
  border: 0;
}
.board .default-cell {
  background-color: #f99019;
  color:black
}

.align {
  /* height: 100%;  */
  display: flex;
   align-items: center;
  justify-content: center; 
  /* border: 2px solid #c56cb6 ; */
  margin-top: 0.5rem; 
  
}

.board .button {
  font-weight: bold;
  width: 50% ;
  height: 50%;
  padding: 0.50rem 1rem;
  margin: 0.5rem;
  /* margin-top: 2rem; */
  /* margin: auto; */
  background-color: #985100;
  border: 1px solid #985100;
  
}
.board .button:hover,
.board .button:active {
  background-color: #c06906;
  border-color: #c06906;
}