.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 2rem;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  /* background-color: white; */
  /* padding: 1ch; */
  border-radius: 12px;
}

.section p {
  font-weight: bold;
  color: #f99019;
}
