.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5rem;
  width: 90%;
  max-width: 40rem;
  text-align: center;
    border-radius: 12px;
}

.section p {
  font-weight: bold;
  color: #f99019;
}
.section .invisible {
  color: #272727;
  user-select: none;
}

.button {
  font-weight: bold;
}


/* @media (min-width: 768px) {
  .mobile{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
} */
